body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}


.input {
    border: 3px solid #ae7000
}

.show {
    animation: show-item 2s ease-in forwards;
}

.hide {
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: #f43f3b;
    }

    25% {
        opacity: 0.75;
        color: #ed1c24;
    }

    50% {
        opacity: 0.5;
        color: #ec008c;
    }

    75% {
        opacity: 0.25;
        color: #39b54a;
    }

    100% {
        opacity: 0;
        color: #ff9700;
    }
}


@keyframes show-item {
    0% {
        opacity: 0;
        color: #f43f3b;
    }

    25% {
        opacity: 0.25;
        color: #ed1c24;
    }

    50% {
        opacity: 0.5;
        color: #ec008c;
    }

    75% {
        opacity: 0.75;
        color: #39b54a;
    }

    100% {
        opacity: 1;
        color: #ff9700;
    }
}

/* 入场 */
.show-enter,
.show-appear {
    opacity: 0;
}

.show-enter-active,
.show-appear-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.show-enter-done {
    opacity: 1;
}

/* 出场 */
.show-exit {
    opacity: 1;
}

.show-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}

.show-exit-done {
    opacity: 0;
}