.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  overflow: hidden;
}

.index-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  padding: 0 20px;
}

.user-name {
  padding: 0 20px;
}